.nav{
    position: fixed;
    top: 20px;
    left: 0;
    z-index: 10;
}
.nav__wrapper{
    min-width: 200px;
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 140px 0 0 0;
    list-style: none;
}
.nav__wrapper li{
    display: flex;
    padding: 10px 16px 10px;
    color: white;
}
.nav__wrapper li:hover{
    background-color: rgb(20, 20, 20);
}
.nav__icon{
    width: 40px;
}
.nav__menu{
    margin: 0 0 0 8px;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    color: rgb(210, 210, 210);
}
.nav__wrapper a{
    text-decoration-line: none;
}


@media screen and (max-width: 1200px) {
    .nav__menu{
        display: none;
    }
    .nav__wrapper{
        min-width: 60px;
    } 
}


@media screen and (max-width: 1000px) {
    .nav__wrapper{
        display: none;
    }
}
