.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 3px gray;
    z-index: 20;
    color: white;
    background-color: rgb(20, 20, 20);
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    padding: 0 16px;
}
.header__start{
    display: flex;
    align-items: center;
}
.header__area{
    font-size: 2rem;
    margin-left: 4px;
    vertical-align: top;
    text-decoration-line: none;
}
.header__icon{
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    margin: 0px 5px;
    cursor: pointer;
}
.header__icon__notice{
    position: absolute;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    margin-right: 100px;
}
.header__start{
    width: 100%;
}
.header__end{
    display: flex;
    width: 100%;
    justify-content: right;
}
.header__notice__group{
    position: relative;
    width: 100%;
    margin-right: 5px;
}
.header__notice__alarm{
    width: 60px;
    position: absolute;
    vertical-align: top;
    text-align: right;
}
.thumbs__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 140px 5px 60px 200px;
    padding: 20px 0 0 20px;
}
.thumbs__item{
    display: flex;
    justify-content: space-between;    
    width: 33%;
    margin: 0 0 10px 0;
    padding: 5px 5px 0px 5px;
}
.thumbs__thumbnail{
    width: 40%;
    max-width: 100%;
}
.thumbs__thumbnail__img{
    max-width: 100%;
    border-radius: 5%;
    margin: 0 0 0 0;
}
.thumbs__info{
    width: 70%;
    max-width: 100%;
    margin: 0 5px 20px 5px;
}
.thumbs__profile__group{
    align-items: center;
    height: 30px;
}

.thumbs__text{
    width: 100%;
    /* height: calc(100% - 180px); */
}
.thumbs__text__date{
    font-size:  0.8rem;
    color: gray;
}
.thumbs__text__content{   
    font-size:  1rem;
    margin-top: 2rem;
    margin-bottom: 0.5em;
}
.thumbs__frends{
    height : 10px;
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
}
.thumbs__text__heart{
    padding-left: 5px;
    padding-right: 4px;
    font-size:  0.8rem;
}    
.thumbs__text__speech{
    padding-left: 5px;
    font-size:  0.8rem;
}
.thumbs__heart__image{
    width: 20px;
}
.thumbs__speech__image{
    width: 20px;
}

/*플로팅 버튼*/
.floating__button {
    display: flex;
    position: fixed;
    right: 10px;
    bottom: 60px;
    z-index: 999;
}  
/*플로팅 버튼 아이콘 공용 스타일*/
.write__original__btn::before {
    width: 200%;
    height: 100%;
    opacity: 1;
    border-radius: 50%;
    font-size: 1.15em;
    /*플로팅 버튼 아이콘 색상 수정O*/
    color: white;
}
.write__changed__btn::before {
    width: 100%;
    height: 200%;
    opacity: 1;
    border-radius: 50%;
    font-size: 2em;
    /*플로팅 버튼 아이콘 색상 수정O*/
    color: white;
 }

/*플로팅 버튼 스타일*/
.move__board {
    float: left;
    display: flex;
    position: relative;
    width: 150px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    /*사용자 설정 파트*/	
    font-weight: 700;
    background-color: transparent;
    border: none;
    opacity: 0.8;
}
.move__board img{
    width: 100%;
}


@media screen and (max-width: 1200px) {
    .thumbs__wrapper{
        margin: 120px 0 120px 60px;
    }
    .thumbs__item{
        width: 50%;
    }
}


@media screen and (max-width: 1000px) {
    .header__wrapper{
        height: 60px;
        padding: 0 4px;
    }
    .header__area{
        font-size: 1rem;
    }
    .header__icon, .header__notice__alarm{
        width: 30px;
        height: 30px;    
    }
    .header__notice__group{
        margin-right: 5px;
    }
    .thumbs__wrapper{
        margin: 60px 0 60px 0;
        padding: 10px 0 0 0;
    }
    .thumbs__profile__group{
        height: 20px;
    }
    .thumbs__item{
        width: 100%;
    }
    .thumbs__text__date{
        font-size:  0.8rem;
    }
    .thumbs__text__content{
        font-size:  1rem;
    }
    .thumbs__heart__image{
        width: 20px;
    }
    .thumbs__speech__image{
        width: 20px;
    }
    .thumbs__text__heart{
        font-size:  0.8rem;
    }    
    .thumbs__text__speech{
        font-size:  0.8rem;
    }
    .nav__wrapper{
        display: none;
    }
    .floating__button {
        bottom: 30px;
    }
    .move__board {
        width: 100px;
        height: 100px;
    }
}
