extends layout


block content

  div.header
    div.header__wrapper
      .header__start         
        a(href='/')
          img.header__search(src='/images/search2.png')      
        span.header__area 인천시 > 계양구
      .header__end 
        a(href='/')
          img.header__search(src='/images/menu.png') 
        img.header__alarm(src='/images/alarm2.png') 

  include nav.jade
  
  section.thumbs 
    .thumbs__wrapper 
      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy1.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_title
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 활짝 웃고있는 꽃님이
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy2.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 니 정체가 뭐야. 여우??
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy3.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 곰이 나타났다...
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy4.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 대소변 가리는 연습중
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy5.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 핸드백을 메고 귀부인 처럼...
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy6.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 핸드백메고 자는중 ..
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy7.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 곰의 위협~~~
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20                                                            

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy8.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 넘 좁아.. 내보내주세엽
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy9.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 꿀잠중..
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy10.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 뭔일있나???
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy11.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 화장실 통로가 젤 좋아.. 
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20

      .thumbs__item 
        .thumbs__thumbnail
          a(href='/detail') 
            img.thumbs__thumbnail__img(src='/upload/puppy12.jpg')
        .thumbs__info        
          .thumbs__profile__group   
            .thumbs_profile_id
              p.thumbs__text__name 꽃님이 / 여 / 7개월
              p.thumbs__text__date 2023.07.09 12:20
          .thumbs__text 
            h1.thumbs__text__content 까딱 까딱.. 뭐지??
          .thumbs__frends  
            img.thumbs__heart__image(src='/images/heart.png')
            p.thumbs__text__heart 7
            img.thumbs__speech__image(src='/images/speech.png')
            p.thumbs__text__speech 20     

  .floating-button 
    span.move-board 
      a.write-btn(href="/")    
        img(src='/images/write.png')                                                

  div.footer
    div.footer__contents     
      .footer_item
        a(href='/')
          img.footer__contents__image(src='/images/home2.png')   
          p 홈
      .footer_item
        a(href='/')    
          img.footer__contents__image(src='/images/vlog2.png')  
          p 펫매니저
      .footer_item   
        a(href='/')
          img.footer__contents__image(src='/images/parcel2.png')
          p 분양정보
      .footer_item  
        a(href='/')
          img.footer__contents__image(src='/images/position2.png')
          p 지역정보
      .footer_item
        a(href='/')
          img.footer__contents__image(src='/images/user2.png')    
          p 사용자

