doctype html
html
  head.header
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/thumbs.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    meta(name="viewport", content="user-scalable=no,maximum-scale=1")

  body
    block content
