nav.nav 
    ul.nav__wrapper 
        a(href='/');     
            li 
                img.nav__icon(src='/images/home2.png')   
                span.nav__menu 홈
        a(href='/');     
            li 
                img.nav__icon(src='/images/vlog2.png')   
                span.nav__menu 펫매니저
        a(href='/');     
            li 
                img.nav__icon(src='/images/parcel2.png')
                span.nav__menu 분양정보  
        a(href='/');        
            li 
                img.nav__icon(src='/images/position2.png')
                span.nav__menu 지역정보
        a(href='/');     
            li 
                img.nav__icon(src='/images/user2.png')    
                span.nav__menu 내정보
                     
               